body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-bottom: 0px;
}

h1 {
  margin-bottom: 5px;
}

.author-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 900px;
}

/* .ingredients {
  background-image: url('./images/list-bg.png');
} */

.timestamp {
  line-height: 0px; 
}

.logop {
  margin-top: 0px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



.top-left-logo {
  display: flex;
  align-items: center;
}


